.avatarWrapper{
    float: left;
    width: 16%;
    margin-left: 1%;
}
.menu{
    width: 14%;
    margin-top:-2px;
    margin-left: 10px;
    position:fixed;
    width:200px;
}
.tweetWrapper{
    width:49%;
    margin-left: 18%;
    margin-top:3%;
}
.tweetListWrapper{
    width:49%;
    margin-left: 18%;
    margin-top:2%;
    height: auto;
}
.inputWrapper{
    width: 100%;
    padding: 30px;
    height:auto;
    display: inline-flex;
}
.tweetDetail{
    text-align: center;
    height: auto;
    margin-top:2%;
}
.follow{
    margin-top: 2%;
}
.peopleDetail{
    display: inline-flex;
}
.followWrapper{
    margin-top: -8px;
    float:right;
    margin-right:2%;    
    width:30%;
}
.headerWrapper{
    max-width: 240px;
}
.circular-prog{
    padding-top:10%;
}
.form-group{
    height:auto;
    width:680px;
}
.btntwit{
    margin-left:310px;
}